<!doctype html> 
<html ng-app="demo">
	<head>
		<title>Hello AngularJS</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    	<!-- <script src="hello.js"></script> -->
 	<script>
		angular.module('demo', [])
                    .controller('Hello', function($scope, $http) {
                        $http.jsonp("https://images-api.nasa.gov/search?q=Apollo").
                        then(function(response) {
			     $scope.items = response.collection.items;
			     $scope.metadata = response.collection.metadata;
        	});
		});
		
		
	</script>
	</head>
	

	<body>
		<div ng-controller="Hello">
			<td><span ng-repeat="item in items">
				<span ng-repeat="data in item">{{ data[0].totle }}<br /></span></span></td>

			<!-- <p>The ID is {{items.data[0].title}}</p>
			<p>The content is {{metadata.total_hits}}</p> -->
			<!-- <img src="{{greeting.href}}" /> -->
		</div>
	</body>
</html>
