<!doctype html> 
<html>
	<head>
		<title>Hello AngularJS</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    	<!-- <script src="hello.js"></script> -->
 	<script>
		var app = angular.module('myApp', []);
                
		app.controller('myCtrl', function($scope, $http) {
			$scope.showMe = false;
			$scope.myFunc = function($http) {
                           $http.jsonp("https://images-api.nasa.gov/search?q=Apollo").then(function(response) {
			       alert('response' + angular.toJson(response))
				   $scope.collection = response;
			      console.log(response);     
        		   }
                         )
			})
		
		}; 
		/*
		var app = angular.module('myApp', []);
		app.controller('myCtrl', function($scope, $http) {
		    $scope.showMe = false;
		    $scope.myFunc = function() {
			$scope.showMe = !$scope.showMe;
		    }
		    
		    
		});
		*/
		</script>
	</head>
	

	<body>
		<div ng-app="myApp" ng-controller="myCtrl">
			<button ng-click="myFunc()">Click Me!</button>

			<div ng-show="showMe">
			    <h1>Menu:</h1>
			    <div>Pizza</div>
			    <div>Pasta</div>
			    <div>Pesce</div>
			</div>
			<p ng-model="collection">

		</div>
		
		
	</body>
</html>
