<!doctype html> 
<html ng-app="demo">
	<head>
		<title>Hello AngularJS</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    	<!-- <script src="hello.js"></script> -->
 	<script>
		angular.module('demo', [])
                    .controller('Hello', function($scope, $http) {
                        $http.jsonp("https://images-api.nasa.gov/search?q=Apollo").
                        then(function(response) {
			     $scope.collection = response;
			     console.log(response);
			     
        	});
		});
		
		var app = angular.module('myApp', []);
		app.controller('myCtrl', function($scope) {
		    $scope.showMe = false;
		    $scope.myFunc = function() {
			$scope.showMe = !$scope.showMe;
		    }
		});
		</script>
	</head>
	

	<body>
		<div ng-app="myApp" ng-controller="myCtrl">
			<button ng-click="myFunc()">Click Me!</button>

			<div ng-show="showMe">
			    <h1>Menu:</h1>
			    <div>Pizza</div>
			    <div>Pasta</div>
			    <div>Pesce</div>
			</div>

		</div>
		
		
		<div ng-controller="Hello">
			
			<ul>
  			<li ng-repeat="items in collection">
			    {{ x.metadata.total_hits }}
			  </li>
			</ul>

			<ul ng-repeat="items in collection" ng-show="x.title">
			  <li ng-repeat="data in items">{{data[0].title}}</li>
			</ul>
			<!-- <td>    <span ng-repeat="items in collection">
				<span ng-repeat="item in items">
				<span ng-repeat="data in item">{{ data.title }}<br /></span></span></span>
				
				</td> -->

			<!-- <p>The ID is {{items.data[0].title}}</p>
			<p>The content is {{metadata.total_hits}}</p> -->
			<!-- <img src="{{greeting.href}}" /> -->
		</div>
	</body>
</html>
