<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-resource.js"></script>
    <script>
	    var app = angular.module("MyApp", ["ngResource"]);

function MyCtrl($scope, $resource) {
  $scope.twitterAPI = $resource("http://search.twitter.com/search.json",
    { callback: "JSON_CALLBACK" },
    { get: { method: "JSONP" }});

  $scope.search = function() {
    $scope.searchResult = $scope.twitterAPI.get({ q: $scope.searchTerm });
  };
}
	  </script>
    <link rel="stylesheet" href="css/bootstrap.css">
  </head>
  <body ng-app="MyApp">
    <div ng-controller="MyCtrl">
      <input type="text" ng-model="searchTerm" placeholder="Search term">
      <button ng-click="search()">Search</button>
      <ul ng-repeat="tweet in searchResult.results">
        <li>{{tweet.text}}</li>
      </ul>
    </div>  
  </body>
</html>
