<html> 
    <head>
        <title>Ajax Live search using AngularJs | Demo | Cipher Trick</title>
        <link href="site.css" rel="stylesheet" type="text/css" />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
        <script>
            angular.module('myApp', [])
  .controller('MovieController', function($scope, $http) {
    $scope.$watch('search', function() {
      fetch();
    });

    $scope.search = "Apollo";

    function fetch() {
        //https://images-api.nasa.gov/search
      // $http.get("https://www.omdbapi.com/?t=" + $scope.search + "&tomatoes=true&plot=full")
      $http.get("https://images-api.nasa.gov/search?q=" + $scope.search)
        .then(function(response) {
          $scope.details = response.data;
        });

      $http.get("https://images-api.nasa.gov/search?q=" + $scope.search)
      //$http.get("https://www.omdbapi.com/?s=" + $scope.search)
        .then(function(response) {
          $scope.related = response.data;
        });
    }

    $scope.update = function(movie) {
      $scope.search = movie.Title;
    };

    $scope.select = function() {
      this.setSelectionRange(0, this.value.length);
    }
  });
        </script>
    </head>
    
        <div class="container-fluid outerdiv" ng-app="myApp" ng-controller="MovieController">

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><b>Fastr</b> <span class="span-style">Movie Browser</span></a>
      </div>
    </div>
  </nav>

  <noscript>
    <div class="nojs">Javascript is either disabled or not supported in your browser. Please enable it or use a Javascript enabled browser.</div>
  </noscript>

  <div class="animated zoomInRight">
    <div class="input-group search-bar">
      <input type="text" ng-model="search" ng-model-options="{ debounce: 800 }" onclick="select()" class="form-control" placeholder="Enter full movie name" autofocus />
      <span class="input-group-addon bar-style"><i class="glyphicon glyphicon-search"></i></span>
    </div>

    <div id="main-info" class="col-md-8">
      <div ng-if="!details">
        Loading results...
      </div>

      <div ng-if="details.Response==='True'">
        <!-- <img ng-src="{{ details.Poster=='N/A' ? 'http://placehold.it/150x220&text=N/A' : details.Poster }}" class="thumbnail animated flip movie-poster"> -->

        <span class="span-outer">
          <a href="http://imdb.com/title/{{ details.imdbID }}" target="_blank">{{ details.title }}</a>
        </span>, {{ details.date_created }}

        <p><strong>Released on:</strong> {{ details.Released }} ({{ details.Runtime }})</p>

        <p>{{ details.Plot }}</p>

        <p class="outer-p">
          <div class="inner-p">
            <span class="label label-primary">Directors :</span> {{ details.Director }}
          </div>
          <div class="inner-p">
            <span class="label label-primary">Actors :</span> {{ details.Actors }}
          </div>
          <div class="inner-p">
            <span class="label label-primary">Genre :</span> {{ details.Genre }}
          </div>
        </p>

        <p class="outer-p-2">Ratings:
          <br>
          <strong>IMDb Rating</strong>: <span class="label label-success">{{ details.imdbRating }}</span>
          <br>
          <strong>Rotten Tomatoes</strong>: <span class="label label-success">{{ details.tomatoRating }}</span>
        </p>

        <p class="outer-p-3">
          <a ng-href="https://www.youtube.com/results?search_query={{ details.Title }}" target="_blank" class="btn btn-default btn-xs btn-info">Watch Trailers!</a>
          <span class="divider"></span>
          <a ng-href="http://subscene.com/subtitles/title?q={{ details.Title }}" target="_blank" class="btn btn-default btn-xs btn-info">Get Subtitles!</a>
          <span class="divider"></span>
          <a ng-href="http://www.theost.com/search/custom/?key={{ details.Title }}" target="_blank" class="btn btn-default btn-xs btn-info">Hear Soundtracks!</a>
          <span class="divider"></span>
          <a ng-href="http://www.amazon.in/s/ref=nb_sb_noss_1?url=search-alias%3Ddvd&field-keywords={{ details.Title }}" target="_blank" class="btn btn-default btn-xs btn-info">Buy this movie!</a>
        </p>
      </div>

      <div ng-if="details.Response==='False'">
        No results found.
      </div>
    </div>

    <div id="related-results" class="col-md-4 animated bounce related-results">
      <div ng-if="related.Response!=='False'">
        Related Results:
        <hr>

        <ul class="rel-results">
          <li ng-repeat="movie in related.Search">
            <a href="#" id="{{ $index + 1 }}" ng-click="update(movie)">{{ movie.Title }}</a>, {{ movie.Year }}
          </li>
        </ul>
      </div>
    </div>
  </div>

   
    
</html>
