<html>
    <head>
        <title>Ajax Live search using AngularJs | Demo | Cipher Trick</title>
        <link href="site.css" rel="stylesheet" type="text/css" />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
        <script>
            angular.module('myApp', [])
  .controller('MovieController', function($scope, $http) {
    $scope.$watch('search', function() {
      fetch();
    });

    $scope.search = "Sherlock Holmes";

    function fetch() {
      $http.get("https://www.omdbapi.com/?t=" + $scope.search + "&tomatoes=true&plot=full")
        .then(function(response) {
          $scope.details = response.data;
        });

      $http.get("https://www.omdbapi.com/?s=" + $scope.search)
        .then(function(response) {
          $scope.related = response.data;
        });
    }

    $scope.update = function(movie) {
      $scope.search = movie.Title;
    };

    $scope.select = function() {
      this.setSelectionRange(0, this.value.length);
    }
  });
        </script>
    </head>
    <body ng-app="instantsearch">
        <div ng-controller="instantSearchCtrl">
            <h3 class="headName">Ajax Live search using AngularJs</h3>
            <div class="bar">
                <input type="text" class="search" ng-model="searchString" placeholder="Enter your search terms" />
                 <button ng-click="search()">Search</button>
            </div>
            <ul class="data-ctrl">
                <li ng-repeat="i in items | searchFor:searchString">
                    <p>{{i.title}}
                </li>
            </ul>
        </div>
    </body>
    <script src="site.js"></script>
</html>
